In [1]:
import numpy as np
import pandas as pd
GHS = pd.read_csv('./여고.csv',encoding='CP949', header=1)
SW1 = pd.read_csv('./지역별 인구, 매장수,여고.csv',encoding='CP949')
SW2 = pd.read_csv('./학원수.csv')
SW3 = pd.read_csv('./1인가구.csv',encoding='CP949')
SW4 = pd.read_csv('./학원수.csv',encoding='CP949')

UnicodeDecodeError: 'cp949' codec can't decode byte 0xed in position 0: illegal multibyte sequence

In [ ]:
SW3

In [22]:
merge_SW

                  행정구역  매장이름  여고유무    학원수
0        서울특별시-종로구-내자동  경복궁점   0.0    0.0
1        서울특별시-종로구-당주동  광화문점   0.0    0.0
2        서울특별시-종로구-수송동    안국   0.0    0.0
3       서울특별시-종로구-종로2가    종로   0.0    0.0
4         서울특별시-종로구-계동    북촌   0.0    0.0
...                ...   ...   ...    ...
5084  제주특별자치도-서귀포시-대정읍   NaN   NaN  123.0
5085  제주특별자치도-서귀포시-남원읍   NaN   NaN   14.0
5086  제주특별자치도-서귀포시-성산읍   NaN   NaN    7.0
5087  제주특별자치도-서귀포시-안덕면   NaN   NaN   17.0
5088  제주특별자치도-서귀포시-표선면   NaN   NaN    5.0

[5089 rows x 4 columns]

In [23]:
비내호1 = merge_SW.dropna()

In [24]:
비내호1

                 행정구역       매장이름  여고유무    학원수
0       서울특별시-종로구-내자동       경복궁점   0.0    0.0
1       서울특별시-종로구-당주동       광화문점   0.0    0.0
2       서울특별시-종로구-수송동         안국   0.0    0.0
3      서울특별시-종로구-종로2가         종로   0.0    0.0
4        서울특별시-종로구-계동         북촌   0.0    0.0
..                ...        ...   ...    ...
403      경상남도-양산시-물금읍  양산증산, 남양산   0.0  420.0
404      경상남도-거창군-거창읍  경남거창(중앙리)   1.0  141.0
405  제주특별자치도-제주시-이도이동       이도이동   0.0  207.0
406  제주특별자치도-제주시-아라이동        제주대   0.0   25.0
407    제주특별자치도-제주시-연동   제주연동신시가지   0.0  152.0

[263 rows x 4 columns]

In [56]:
비내호1.to_csv('./비내호_매장_여고_학원수.csv',index = False)

In [25]:
SWGHS.columns

Index(['시도명', '시군구명', '읍면동명', '매장이름', '여고유무'], dtype='object')

In [26]:
# SWGHS = SWGHS.drop("시군구명", axis=1)
SWGHS

         시도명 시군구명  읍면동명       매장이름  여고유무
0      서울특별시  종로구   내자동       경복궁점   0.0
1      서울특별시  종로구   당주동       광화문점   0.0
2      서울특별시  종로구   수송동         안국   0.0
3      서울특별시  종로구  종로2가         종로   0.0
4      서울특별시  종로구    계동         북촌   0.0
..       ...  ...   ...        ...   ...
403     경상남도  양산시   물금읍  양산증산, 남양산   0.0
404     경상남도  거창군   거창읍  경남거창(중앙리)   1.0
405  제주특별자치도  제주시  이도이동       이도이동   0.0
406  제주특별자치도  제주시  아라이동        제주대   0.0
407  제주특별자치도  제주시    연동   제주연동신시가지   0.0

[408 rows x 5 columns]

In [27]:
SWGHS.rename(columns = {'읍면동명':'행정구역'},inplace=True)
SWGHS

         시도명 시군구명  행정구역       매장이름  여고유무
0      서울특별시  종로구   내자동       경복궁점   0.0
1      서울특별시  종로구   당주동       광화문점   0.0
2      서울특별시  종로구   수송동         안국   0.0
3      서울특별시  종로구  종로2가         종로   0.0
4      서울특별시  종로구    계동         북촌   0.0
..       ...  ...   ...        ...   ...
403     경상남도  양산시   물금읍  양산증산, 남양산   0.0
404     경상남도  거창군   거창읍  경남거창(중앙리)   1.0
405  제주특별자치도  제주시  이도이동       이도이동   0.0
406  제주특별자치도  제주시  아라이동        제주대   0.0
407  제주특별자치도  제주시    연동   제주연동신시가지   0.0

[408 rows x 5 columns]

In [28]:
SWGHS = SWGHS[['매장이름','행정구역','여고유무']]
SWGHS

          매장이름  행정구역  여고유무
0         경복궁점   내자동   0.0
1         광화문점   당주동   0.0
2           안국   수송동   0.0
3           종로  종로2가   0.0
4           북촌    계동   0.0
..         ...   ...   ...
403  양산증산, 남양산   물금읍   0.0
404  경남거창(중앙리)   거창읍   1.0
405       이도이동  이도이동   0.0
406        제주대  아라이동   0.0
407   제주연동신시가지    연동   0.0

[408 rows x 3 columns]

In [29]:
GHS = GHS.drop("서울시", axis=1)

In [30]:
GHS = GHS.drop("종로구", axis=1)

In [31]:
GHS = GHS[GHS['남자'] == '여자']
GHS

      남자                                      청운동.경복고등학교)
3     여자              서울특별시 종로구 율곡로3길 50 . 덕성여자고등학교 (안국동)
5     여자               서울특별시 종로구 필운대로1길 34 (필운동.배화여자고등학교)
6     여자                   서울특별시 종로구 홍지문2길 20 (홍지동.상명대학교)
12    여자         서울특별시 중구 만리재로37길 30 . 경기여자상업고등학교 (만리동1가)
17    여자              서울특별시 중구 퇴계로 375 (신당동. 성동글로벌경영고등학교)
...   ..                                              ...
2343  여자                      제주특별자치도 제주시 구남동5길 11 (이도이동)
2350  여자  제주특별자치도 서귀포시 대정읍 대한로88번길 82-22 . 대정여자고등학교 (대정읍)
2351  여자             제주특별자치도 서귀포시 검은여로 151 삼성여자고등학교 (토평동)
2354  여자              제주특별자치도 서귀포시 태평로 80 (호근동.서귀포여자고등학교)
2584  여자               경기도 연천군 전곡읍 양원로268번길 106-125 (전곡읍)

[428 rows x 2 columns]

In [32]:
GHS.to_csv("GHS.csv", mode='w')

In [33]:
GHS.rename(columns = {'남자':'고등학교','청운동.경복고등학교)':'주소'},inplace=True)
GHS

     고등학교                                               주소
3      여자              서울특별시 종로구 율곡로3길 50 . 덕성여자고등학교 (안국동)
5      여자               서울특별시 종로구 필운대로1길 34 (필운동.배화여자고등학교)
6      여자                   서울특별시 종로구 홍지문2길 20 (홍지동.상명대학교)
12     여자         서울특별시 중구 만리재로37길 30 . 경기여자상업고등학교 (만리동1가)
17     여자              서울특별시 중구 퇴계로 375 (신당동. 성동글로벌경영고등학교)
...   ...                                              ...
2343   여자                      제주특별자치도 제주시 구남동5길 11 (이도이동)
2350   여자  제주특별자치도 서귀포시 대정읍 대한로88번길 82-22 . 대정여자고등학교 (대정읍)
2351   여자             제주특별자치도 서귀포시 검은여로 151 삼성여자고등학교 (토평동)
2354   여자              제주특별자치도 서귀포시 태평로 80 (호근동.서귀포여자고등학교)
2584   여자               경기도 연천군 전곡읍 양원로268번길 106-125 (전곡읍)

[428 rows x 2 columns]

In [ ]:
# def f(x):
#     target = x.rfind('동')
#     if -1 != target:
#         # 여기서 문자열을 고치시면 돼요 
          # 지금 return 값은 문자열 (무슨동 이런식이니까 
#         # 문자열 함수중에 특수문자인 경우 제외 시키는 방법 등을 사용해서 
#         # ( <- 삭제시킬수 있어요 
#         # else로 동정보가 없을 경우에 
#         # 읍면소재지 일 가능성이 있기 때문에
#         # 읍으로 찾는 과정을 추가하시면 됩니다.
#         # 잘 처리해보세요

#         return x[target-3:target+1]
#     else:
#         return "동정보없음"

In [13]:
 def f(x):
    target = x.rfind('동')
    if -1 != target:
        return x[target-3:target+1]
    else:
        return "동정보없음"

In [104]:
GHS.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2608 entries, 0 to 2607
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   서울시          2608 non-null   object
 1   종로구          2608 non-null   object
 2   남자           2608 non-null   object
 3   청운동.경복고등학교)  2608 non-null   object
dtypes: object(4)
memory usage: 81.6+ KB

In [14]:
SW

       서울특별시  종로구   내자동       경복궁점
0      서울특별시  종로구   당주동       광화문점
1      서울특별시  종로구   수송동         안국
2      서울특별시  종로구  종로2가         종로
3      서울특별시  종로구    계동         북촌
4      서울특별시  종로구  종로5가       종로5가
..       ...  ...   ...        ...
402     경상남도  양산시   물금읍  양산증산, 남양산
403     경상남도  거창군   거창읍  경남거창(중앙리)
404  제주특별자치도  제주시  이도이동       이도이동
405  제주특별자치도  제주시  아라이동        제주대
406  제주특별자치도  제주시    연동   제주연동신시가지

[407 rows x 4 columns]

In [37]:
SW3['행정구역'] = SW3['시도명'] + '-' + SW3['시군구명'] + '-' + SW3['읍면동명']

In [38]:
SW3

           시도명  시군구명 읍면동명   리명  1인세대  Unnamed: 5              행정구역
0        서울특별시   종로구  청운동  청운동   196         NaN     서울특별시-종로구-청운동
1        서울특별시   종로구  신교동  신교동   233         NaN     서울특별시-종로구-신교동
2        서울특별시   종로구  궁정동  궁정동    99         NaN     서울특별시-종로구-궁정동
3        서울특별시   종로구  효자동  효자동    88         NaN     서울특별시-종로구-효자동
4        서울특별시   종로구  창성동  창성동   105         NaN     서울특별시-종로구-창성동
...        ...   ...  ...  ...   ...         ...               ...
18653  제주특별자치도  서귀포시  표선면  하천리   280         NaN  제주특별자치도-서귀포시-표선면
18654  제주특별자치도  서귀포시  표선면  성읍리   331         NaN  제주특별자치도-서귀포시-표선면
18655  제주특별자치도  서귀포시  표선면  가시리   282         NaN  제주특별자치도-서귀포시-표선면
18656  제주특별자치도  서귀포시  표선면  세화리   331         NaN  제주특별자치도-서귀포시-표선면
18657  제주특별자치도  서귀포시  표선면  토산리   220         NaN  제주특별자치도-서귀포시-표선면

[18658 rows x 7 columns]

In [39]:
SW3 = SW3.drop(['시도명', '시군구명', '읍면동명','리명','Unnamed: 5'], axis=1)

In [42]:
SW3 = SW3[['행정구역','1인세대']]
SW3

                   행정구역  1인세대
0         서울특별시-종로구-청운동   196
1         서울특별시-종로구-신교동   233
2         서울특별시-종로구-궁정동    99
3         서울특별시-종로구-효자동    88
4         서울특별시-종로구-창성동   105
...                 ...   ...
18653  제주특별자치도-서귀포시-표선면   280
18654  제주특별자치도-서귀포시-표선면   331
18655  제주특별자치도-서귀포시-표선면   282
18656  제주특별자치도-서귀포시-표선면   331
18657  제주특별자치도-서귀포시-표선면   220

[18658 rows x 2 columns]

In [43]:
비내호_매장_여고_학원수_1인세대 = pd.merge(비내호1,SW3, how='outer',on='행정구역')

In [44]:
비내호_매장_여고_학원수_1인세대

                   행정구역  매장이름  여고유무  학원수   1인세대
0         서울특별시-종로구-내자동  경복궁점   0.0  0.0   44.0
1         서울특별시-종로구-당주동  광화문점   0.0  0.0   58.0
2         서울특별시-종로구-수송동    안국   0.0  0.0  102.0
3        서울특별시-종로구-종로2가    종로   0.0  0.0  412.0
4          서울특별시-종로구-계동    북촌   0.0  0.0  238.0
...                 ...   ...   ...  ...    ...
18655  제주특별자치도-서귀포시-표선면   NaN   NaN  NaN  280.0
18656  제주특별자치도-서귀포시-표선면   NaN   NaN  NaN  331.0
18657  제주특별자치도-서귀포시-표선면   NaN   NaN  NaN  282.0
18658  제주특별자치도-서귀포시-표선면   NaN   NaN  NaN  331.0
18659  제주특별자치도-서귀포시-표선면   NaN   NaN  NaN  220.0

[18660 rows x 5 columns]

In [47]:
비내호2 = 비내호_매장_여고_학원수_1인세대.dropna()
비내호2

                 행정구역       매장이름  여고유무    학원수     1인세대
0       서울특별시-종로구-내자동       경복궁점   0.0    0.0     44.0
1       서울특별시-종로구-당주동       광화문점   0.0    0.0     58.0
2       서울특별시-종로구-수송동         안국   0.0    0.0    102.0
3      서울특별시-종로구-종로2가         종로   0.0    0.0    412.0
4        서울특별시-종로구-계동         북촌   0.0    0.0    238.0
..                ...        ...   ...    ...      ...
461      경상남도-거창군-거창읍  경남거창(중앙리)   1.0  141.0    128.0
462      경상남도-거창군-거창읍  경남거창(중앙리)   1.0  141.0    101.0
463  제주특별자치도-제주시-이도이동       이도이동   0.0  207.0   6366.0
464  제주특별자치도-제주시-아라이동        제주대   0.0   25.0    724.0
465    제주특별자치도-제주시-연동   제주연동신시가지   0.0  152.0  11853.0

[464 rows x 5 columns]

In [52]:
비내호2 = 비내호2.replace({'1인세대':11853.0},150)
비내호2

                 행정구역       매장이름  여고유무    학원수    1인세대
0       서울특별시-종로구-내자동       경복궁점   0.0    0.0    44.0
1       서울특별시-종로구-당주동       광화문점   0.0    0.0    58.0
2       서울특별시-종로구-수송동         안국   0.0    0.0   102.0
3      서울특별시-종로구-종로2가         종로   0.0    0.0   412.0
4        서울특별시-종로구-계동         북촌   0.0    0.0   238.0
..                ...        ...   ...    ...     ...
461      경상남도-거창군-거창읍  경남거창(중앙리)   1.0  141.0   128.0
462      경상남도-거창군-거창읍  경남거창(중앙리)   1.0  141.0   101.0
463  제주특별자치도-제주시-이도이동       이도이동   0.0  207.0  6366.0
464  제주특별자치도-제주시-아라이동        제주대   0.0   25.0   724.0
465    제주특별자치도-제주시-연동   제주연동신시가지   0.0  152.0   150.0

[464 rows x 5 columns]

In [55]:
비내호2.to_csv('./비내호_매장_여고_학원수_1인세대.csv',index = False)